
# Swapfiles
*.*~
*.swp
*.log

# dgraph stuff
dgraph-data/

# proxy
proxy/node_modules/

# frontend
client/node_modules/
client/dist/main.js
client/dist/main.js.map

# Apple
*.DS_Store

# algos
__pycache__/
httpcache/
